<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sph.practice.mybatis.mapper.IClassMapper">

    <resultMap id="selectCSVO" type="csvo">
        <id property="classId" column="id"></id>
        <result property="className" column="class_name"></result>
        <association property="id" javaType="QyStudentPO">
            <id property="studentId" column="id"></id>
            <result property="studentName" column="student_name"></result>
        </association>
    </resultMap>

    <select id="getClassById" parameterType="integer" resultType="QyClassPO">
        select * from qy_class c
        <where>
            <!--<if test="id != null and id != '' ">-->
                c.id = #{id}
            <!--</if>-->
        </where>
    </select>

    <select id="getClassByMap" resultType="QyClassPO">
        select * from qy_class c
        <where>
            <if test="className != null and className != '' ">
                and c.class_name = #{className}
            </if>
            <if test="ids != null and ids.size > 0 ">
                and c.id IN
                <foreach collection="ids" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="csvo != null and csvo.classId != null and csvo.classId != '' ">
                and c.id = #{csvo.classId}
            </if>
        </where>
    </select>

    <select id="getClassByIds" resultType="QyClassPO">
        select * from qy_class c where c.id
        IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="getClassByVO" parameterType="csvo" resultType="QyClassPO">
        select * from qy_class c where c.id = #{vo.classId}
    </select>

    <select id="getCSVOByClassId" parameterType="Integer" resultMap="selectCSVO">
        select c.* from qy_class c inner join qy_student s on c.id = s.class_id
        <where>
            c.id = #{id}
        </where>
    </select>

</mapper>